/*  your css code here. If applicable */
.card{
	width: 300px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px;
	text-align: center;
	margin: auto;
}
img{
	width: 100%;
}
button{
	padding: 10px 20px;
	background-color: red;
	color: white;
	border-radius: 5px;
	border: none;
}